.chat-header {
    border-bottom: 1px solid #e7e8ee;
    text-align: center;
    padding: 15px 0px;
    color: #666666;
    font-size: 17px;
    font-weight: 400;
}

.todo-list-inner {
    position: relative;
    list-style: none;
    margin: 20px;
    padding: 0px;
    height: calc(100vh - 292px);
    overflow: auto;
}

.todo-list-inner .chat-day {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    height: 15px;
    margin-bottom: 20px;
}

.todo-list-inner .chat-day span {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 20px;
    padding: 3px 5px;
    width: 100px;
    text-align: center;
    color: #666666;
    font-size: 13px;
    font-weight: 500;
}

.todo-list-inner::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

.todo-list-inner::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
    /* box-shadow   : inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.todo-list-inner::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 8px;
    /* outline         : 1px solid slategrey; */
}

.todo-list-inner .chat-list {
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}

.todo-list-inner .chat-list:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

chat-list .profile-img {
    width: 43px;
    height: 43px;
    float: left;
    margin-left: 10px;
}

.chat-list .chat-user-name {
    font-size: 15px;
    color: #000000;
    float: left;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 500;
}

.chat-list .chat-post-time {
    font-size: 13px;
    color: #747374;
    font-weight: 400;
}

.chat-list .chat-post-text {
    font-size: 14px;
    color: #666666;
    width: 100%;
    font-weight: normal;
    display: inline-block;
}

.chat-message-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;
    position: relative;
}

.chat-message-wrapper .smiley-icon {
    position: absolute;
    left: 15px;
    top: 16px;
    cursor: pointer;
}

.chat-message-wrapper .attach-icon {
    position: absolute;
    right: 40px;
    top: 17px;
    cursor: pointer;
}

.chat-message-wrapper .chat-other-action {
    position: absolute;
    right: 15px;
    top: 17px;
    cursor: pointer;
}

.chat-message-wrapper input[type="text"] {
    padding: 15px;
    border-radius: 30px;
    font-size: 15px;
    color: #666666;
    border: 1px solid #bbbdbf;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-indent: 50px;
    outline: none;
}

.chat-message-wrapper input[type="button"] {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.chat-message-wrapper .chat-send-btn {
    background-color: #104f79 !important;
    border: none !important;
    width: 50px;
    border-radius: 0px 3px 3px 0px !important;
}

.chat-message-wrapper .chat-send-btn:hover {
    background-color: #0c3f60 !important;
}