.task-action {
    position: absolute;
    right: 20px;
    top: 20px;
}

.task-action img {
    cursor: pointer;
}

.task-action img:last-child {
    margin-left: 15px;
}

.add-task-wrapper {
    position: relative;
}

.add-task-wrapper .modal-header {
    text-align: center !important;
    border-bottom: none;
}

.add-task-wrapper .modal-footer {
    border-top: none;
}

.add-task-wrapper .modal-title {
    width: 100%;
    color: #2f2f2f;
    font-size: 18px;
}

.add-task-wrapper .modal-body {
    padding-bottom: 0px;
}

.add-task-wrapper input,
.add-task-wrapper select,
.add-task-wrapper textarea {
    font-size: 14px;
    width: 100% !important;
}

.add-btn {
    background-color: #104f79 !important;
    border: none !important;
    width: 100%;
}

.add-btn:hover {
    background-color: #0c3f60 !important;
}

.task-row-margin {
    margin-bottom: 0px !important;
}