.create-team-wrapper {
    position: relative;
}

.create-team-wrapper .modal-header {
    text-align: center !important;
    border-bottom: none;
}

.create-team-wrapper .modal-footer {
    border-top: none;
}

.create-team-wrapper .modal-title {
    width: 100%;
    color: #2f2f2f;
    font-size: 18px;
}

.create-team-wrapper .modal-body {
    padding-bottom: 0px;
}

.create-team-wrapper input,
.create-team-wrapper select,
.create-team-wrapper textarea {
    font-size: 14px;
    width: 100% !important;
}

.add-btn {
    background-color: #104f79 !important;
    border: none !important;
    width: 100%;
}

.add-btn:hover {
    background-color: #0c3f60 !important;
}