.task-wrapper {
    position: relative;
}

.task-wrapper .nav-tabs {
    border-bottom: 1px solid #e7e8ee;
}

.task-wrapper .nav-link {
    color: #2f2f2f !important;
    font-size: 14px;
    font-weight: 500;
}

.task-wrapper .nav-link {
    border-bottom: 4px solid transparent !important;
    border: none !important;
    padding: 20px 0px;
    margin: 0px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.task-wrapper .nav-link.active {
    border-bottom: 4px solid #104f79 !important;
    border: none;
}

.task-wrapper .nav-link:hover {
    border-bottom: 4px solid #104f79 !important;
    border: none;
}

.task-list-wrapper {
    position: relative;
}

.task-list-wrapper .task-list {
    margin: 20px 20px;
    padding: 0px;
    list-style: none;
    position: relative;
    height: calc(100vh - 220px);
    overflow: auto!important;
}

.task-list-wrapper .task-list::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

.task-list-wrapper .task-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
    /* box-shadow   : inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.task-list-wrapper .task-list::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 8px;
    /* outline         : 1px solid slategrey; */
}

.task-list .task {
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 15px;
    -moz-box-shadow: 0px 2px 1px rgb(100, 100, 100, 0.2);
    -webkit-box-shadow: 0px 2px 1px rgb(100, 100, 100, 0.2);
    box-shadow: 0px 2px 1px rgb(100, 100, 100, 0.2);
}

.task-list .task:last-child {
    margin-bottom: 3px;
}

.task .project-profile-img {
    width: 43px;
    height: 43px;
    float: left;
    margin-left: 10px;
    background-color: #f1f2f4;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    font-size: 20px;
    color: #666666;
}

.task .task-company-name {
    font-size: 15px;
    color: #000000;
    float: left;
    width: 45%;
    margin: 0px 15px;
    font-weight: 400;
}

.task .task-company-name span {
    font-size: 13px;
    color: #aab0b8;
    width: 100%;
    display: inline-block;
}

.task .task-company-name span a {
    color: #1a0dab;
}

.task .task-poritiy {
    width: 6px;
    height: 44px;
    background-color: #ff5656;
    position: absolute;
    left: 0px;
    top: 9px;
}

.task-assigne {
    float: left;
    width: 120px;
    text-align: right;
}

.task .task-assigne img {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    border: 1px solid #ffffff;
}

.task .task-assigne img:last-child {
    margin-left: -12px;
}

.task .display-none {
    display: none;
}

.task .task-reminder {
    font-size: 14px;
    color: #808da1;
    font-weight: normal;
    text-align: center;
    background-color: #f1f2f4;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 5px;
    float: left;
    margin: 0px 15px;
    width: 80px;
}

.other-action {
    float: left;
    cursor: pointer;
    width: 19px;
}

.spinner-border {
    position: absolute;
    left: 50%;
    top: 50%;
    /* -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}