.todo-list {
    position: relative;
    list-style: none;
    margin: 20px;
    padding: 0px;
    height: calc(100vh - 280px);
    overflow: auto!important;
}

.todo-list::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

.todo-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
    /* box-shadow   : inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.todo-list::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 8px;
    /* outline         : 1px solid slategrey; */
}

.todo-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px dashed #ebedf2;
}

.todo-list li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.todo-list li .todo-checkbox {
    padding: 0px;
    margin-bottom: -7px;
    margin-right: 10px;
}

.todo-checkbox label {
    margin-bottom: 0px;
}

.todo-checkbox input[type="checkbox"] {
    zoom: 1.5;
}

.todo-list li .todo-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: .23rem 0 0 .3rem;
}

.todo-list li .todo-title a {
    text-decoration: none;
    color: #666666;
    font-size: 15px;
}

.todo-list li .todo-action {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
    padding: 0px;
    margin-right: 10px;
    cursor: pointer;
}

.coming-soon {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 130px;
}

.add-todo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;
}

.add-todo-wrapper input[type="text"] {
    padding: 5px;
    border-radius: 3px 0px 0px 3px;
    font-size: 15px;
    color: #666666;
    border: 1px solid #ced4da;
    border-right: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.add-todo-wrapper input[type="button"] {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.add-todo-wrapper .form-group {width: 100%;
    margin-bottom: 0px;}

.add-todo-btn {
    background-color: #104f79 !important;
    border: none !important;
    width: 50px;
    border-radius: 0px 3px 3px 0px!important;
}

.add-todo-btn:hover {
    background-color: #0c3f60 !important;
}