body {
    font-family: Open Sans, Arial, Helvetica, sans-serif !important;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.sidebar-left {
    width: 92px;
    bottom: 0;
    left: 0;
    top: 0;
    /* padding-bottom: 50px; */
    position: fixed;
    background-color: #104f79;
}

.header {
    position: fixed;
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
    width: calc(100% - 92px);
    left: 92px;
    top: 0px;
    z-index: 1020;
    min-height: 72px;
    padding: 0px 20px;
}

.page-main-title {
    float: left;
    width: 20%;
    font-size: 22px;
    color: #2f2f2f;
    font-weight: 600;
    margin-top: 16px;
}

.navbar-nav {
    /* display    : flex;
    flex-direction: row!important; */
    display: inline-block !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
}

.navbar-nav .nav-item {
    position: relative;
    float: left;
}

.navbar-nav .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 .75rem;
}

.navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0px;
    ;
}

.navbar-nav .nav-link .badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 9px;
    margin-top: -7px;
    color: #fff;
    background-color: #e74a3b;
    border-radius: 50% !important;
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: .25em .4em;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .35rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.logo-container {
    width: 100%;
    text-align: center;
    margin-top: 17px;
}

.navigation {
    margin-top: 120px;
}

.navigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.navigation ul li a {
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    line-height: 38px;
}

.navigation ul li a img {
    width: 24px;
    height: 24px;
}

.navigation ul li .active-menu {
    background-color: #09446c;
}

.other-option {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 17px;
}

.content-body {
    padding: 25px;
    position: relative;
    background: #f8f9fb;
    margin-top: 72px;
    margin-left: 92px;
    height: calc(100vh - 72px);
}

.content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column !important;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.task-panel {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e7e8ee;
    border-radius: 10px;
}

.chat-widget-wrapper {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e7e8ee;
    border-radius: 10px;
}

.chat-user-wrapper {
    width: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99999;
}

.chat-user-wrapper .user-list {
    display: block;
    padding: 1rem 0;
    margin: 0;
    list-style: none;
    border: 0;
}

.user-list .list-header {
    font-size: 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    color: #595d6e;
    font-weight: 500;
    padding: 0px 15px;
}

.user-list .list-team-header {
    margin-top: 15px;
}

.user-list .list-header .add-user-icon {
    position: relative;
    cursor: pointer;
}

.user-list .user-separator {
    margin: .7rem 0;
    height: 0;
    display: block;
    border-bottom: 1px solid #ebedf2;
}

.user-list .user-item {
    display: block;
    cursor: pointer;
    padding: 3px 15px;
    background-color: transparent;
    font-size: 15px;
}

.user-list .user-item:hover {
    background-color: #f7f8fa;
}

.user-list .user-item .status-icon {
    margin-right: 7px;
}